@font-face {
  font-family: 'BetterTogether';
  src: url('../fonts/BetterTogether/BetterTogether-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BetterTogether';
  src: url('../fonts/BetterTogether/BetterTogether-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BetterTogether';
  src: url('../fonts/BetterTogether/BetterTogether-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BetterTogether';
  src: url('../fonts/BetterTogether/BetterTogether-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
